@media (max-width: 576px){
    #spinnner{
     margin-left: 1px !important ;
     height: 27px !important;
     width: 27px !important;
    }
    .signinbtn
{
    margin-left: 1.5rem !important;
}
    }